
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Heebo&display=swap');

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 30px;
}

#header {
    font-size: 100px;
    margin-top: 20px;
}

#field-div {
    width: 75%;
    height: 800px;
    background-color: lightgreen;
    border: 10px solid brown;
    margin: 0 12%;
    border-radius: 1%;
}

#tractor-image{
    position: relative;
    top: -60px;
}

.out-game-menus {
    position: absolute;
    top: 400px;
    left: 50%;
}

.menu-button {
    font-size: 30px;
}

#start-menu {
    width: 750px;
    margin-left: -375px;
    visibility: hidden;
}

.field-sheep {
    display: inline-block;
    width: 33%;
    height: 50%;
}

.field-sheep-imgs {
    width: 25%;
    margin-top: 20%;
}

#end-menu {
    width: 310px;
    margin-left: -155px;
    visibility: hidden;
}

.tractor-sheep-imgs {
    width: 70px;
}

.tractor-sheep {
    width: 48%;
    display: inline-block;
    height: 100px;
    margin-top: 10px;
}

.trailer-div {
    position: relative;
    top: -60px;
    left: 50%;
    margin-left: -100px;
    height: 300px;
    width: 200px;
    background-color: burlywood;
    border: solid brown 5px;
}